<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href='/images/weather.png'>
    <link rel="stylesheet" type="text/css" href='/css/index.css'>
</head>

<body>
    <div class="content-wrap">
        {{>header}}
        {{>navigation}}
        <img class="about-img" alt="picture" src="/images/dibyashree.jpg"/>
    </div>
    {{>footer}}
</body>

</html>