<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href='/images/weather.png'>
    <link rel="stylesheet" type="text/css" href='/css/index.css'>
</head>

<body>
    <div class="content-wrap">
        {{>header}}
        {{>navigation}}
        <p>Here is the help page.</p>
    </div>
    {{>footer}}
</body>

</html>